.parent {
    background: url('../../images/cover.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    color: white;
}

.quick-intro {
    margin-top: 10%;
    margin-bottom: 50%;
}

.quick-intro-text {
    border-style: solid;
    border-color: white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
    color: white;
}

.quick-intro-btns {
    margin-top: 5%;
}

.ind-btn {
    margin: 1%;
}

.modal-content {
    color: white;
 }

 .profile-main {
     width: 100%;
     display: block;
     text-align: center;
 }

 .profile-pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
 }

 .icon-grp {
     text-align: center;
 }

 .modal-header {
     border-bottom: 0px;
 }
 .modal-close {
     background-color: white;
 }

 .dg-brand {
    font-family: 'Amita', cursive;
    font-size: 30px;
 }