.parent {
    background-image: url('../../images/cover.jpg');
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}

.quick-intro {
    margin-top: 50%;
    margin-bottom: 50%;
}

.quick-intro-text {
    border-style: solid;
    border-color: white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
    color: white;
}

.quick-intro-btns {
    margin-top: 5%;
}

.ind-btn {
    margin: 1%;
}

.modal-content {
    background-color: black;
    color: white;
 }

 .profile-main {
     width: 100%;
     display: block;
     text-align: center;
 }

 .profile-pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
 }

 .icon-grp {
     text-align: center;
 }

 .modal-header {
     border-bottom: 0px;
 }
 .modal-close {
     background-color: white;
 }